html{
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,*::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}

main{
    display: flex;
    
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: grey;
    font-size: 1.75rem;
}
header{
    display: flex;
    background-color: #f8f8f8;
    border-bottom: 1px black solid;
}
#left{
flex: 2;
background-color: #f8f8f8;
height: 80vh;
margin-left: -4.24rem;
}
#left li{
    height: 3rem;
    border-bottom: 1px grey solid;
}
#right{
    flex: 2;
    background-color: f8f8f8;
    height: 80vh;

}
#main-section{
flex: 8;
background-color: #a4a4a4;
height: 80vh;
}
#main-section li{
    background-color: white;
    width: 90%;
    height: 10rem;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
}
footer ul{
    margin-right: 1rem;
}
footer li{
color: white;
    text-align: right;

}